<!DOCTYPE html>
<html ng-app = 'myApp'>
<head>
	<title>Inspirational Quotes</title>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel= "stylesheet" href = "stylesheet.css" type="text/css">
</head>
<body ng-controller="mainController">
<div class = "main container">
<h1>Inspirational Quotes</h1>
<form>
<input placeholder = "quote here" ng-model = "text" length="500"> <br>
<input placeholder = "quote author here" ng-model = "author" maxlength="500"> <br>
<button class="btn btn-primary" ng-click = "submit()">Submit</button>
</form>
<br>
    <a class="btn btn-default" href ng-click="show()">random</a>

<div class = 'randomPopupBG' ng-show = 'shown'>
    <div  class = 'randomPopup'>
    Random Quote!: <br>
    	"{{ randomQuote[0].text }}" <br>
    	-{{ randomQuote[0].author }} <br>
    	<button ng-click = 'close()'>x</button>
    </div>
</div>

<ul ng-repeat="quote in quotes | orderBy: '-rating'">
	<li> 
	<h5>{{$index + 1}}.</h5>
	"{{ quote.text }}" <br>
	<a ng-click = 'showAuthor($index)'>-{{ quote.author }} </a> <br>
	Rating: {{ quote.rating }} 
	
	<form>
	
		
<select name="singleSelect" id="singleSelect" ng-model="quote.rating">
      <option value=""></option> 
      <option value="1"> 1 </option>	
      <option value="2"> 2 </option>
      <option value="3"> 3 </option>
      <option value="4"> 4 </option>
      <option value="5"> 5 </option>
    </select>
	</li>
<button ng-click = 'delete($index)'><i class="fa fa-trash"></i></button>
	
</ul>

<div class = 'randomPopupBG' ng-show = 'authorShow'>
<div class = 'randomPopup'>
<button ng-click = 'closeit()'>x</button><br>
<br>
All quotes by {{ selectedAuthorQuotes[0].author }}: <br>
<div  ng-repeat= "squotes in selectedAuthorQuotes"> "{{ squotes.text }}"</div>


</div>
</div>





</div>




<script src='javascript.js'></script> 
</body>
</html>