ul {
	list-style-type: none;
}
 .randomPopupBG {
 	position: fixed;
	height: 100%;
	width: 100%;
	background-color: grey;
	top: 0;
	left: 0;
 }



 .randomPopup {
 	top: 50%;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	background-color: white;
	padding: 20px 20px 60px 20px;
	border-radius: 10px 10px 10px 10px;
	position: fixed;
	vertical-align: middle;
	margin-top: -150px;
 }
